@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&family=Press+Start+2P&display=swap');

* html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', sans-serif;
    color: #333;
    background-image: url("img/backgroung.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.main {
    padding: 2rem 0;
    text-align: center;
    min-height: 592px;
}



header {
    background-color: #77628c;
    color: #fff;
    padding: 1.5rem;
    text-align: center;
    position: relative;
    border-radius: 1em;
}

header h1 {
    margin: 0;
    cursor: pointer;
    transition: transform 0.3s ease;
    font-size: 1.5em;
    margin-bottom: 1.5em;
}


header h1:hover,
header h1:focus {
    transform: scale(1.1);
    color: #acc6aa;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 25px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease;
}


nav ul li a:hover,
nav ul li a:focus {
    color: #acc6aa;
}

nav ul li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #acc6aa;
    left: 50%;
    bottom: -5px;
    transition: width 0.3s ease, left 0.3s ease;
}

nav ul li a:hover::after,
nav ul li a:focus::after {
    width: 100%;
    left: 0;
}

.account-button-container {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
}

.admin-button-container {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;

}


.account-button {
    padding: 8px 15px;
    background-color: #77628c;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: inline-block;
    font-size: 0.9em;
}


.account-button:hover {
    background-color: #acc6aa;
    transform: translateY(-2px);
}


.main {
    flex: 1;
    padding: 5em;
}

.main h2 {
    margin: 0;
    color: #fff;
}

.forms,
.buttons {
    font-family: 'Press Start 2P', cursive;
}

.forms h2 {
    margin-bottom: 1.5em;
    text-align: center;
    color: #ffffff;
    padding-top: 1em;
}


.forms div {
    background-color: #000000;
    border: 5px solid #71a0a5;
    color: #ffffff;
    transition: transform 0.3s ease, background-color 0.3s ease;
    padding: 1em;
    width: calc(35em - 4em);
    margin: 2em auto;
    border-radius: 0.5em;
}
textarea {
    width: 70%; 
    height: 10em; 
    padding: 0.5em; 
    border-radius: 1em; 
    border: 2px solid #fff; 
    background-color: #222; 
    color: #fff; 
    transition: all 0.3s ease; 
}

textarea:focus {
    outline: none; 
    border-color: #fff; 
}


select {
    display: block; 
    width: 100%; 
    height: 40px; 
    padding: 5px 10px;
    border-radius: 5px; 
    border: 2px solid #ffffff; 
    background-color: #222; 
    color: #fff; 
    font-family: 'Arial', sans-serif; 
    appearance: none; 
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="%23fff" d="M7 10l5 5 5-5z"/></svg>'); /* Icône de flèche personnalisée */
    background-repeat: no-repeat;
    background-position: right 10px center; 
    background-size: 12px; 
}
select:focus {
    outline: none; 
    border-color: #fff; 
    
}
/* Styles pour les input */
.forms input[type="text"],
.forms input[type="date"],
.forms input[type="email"],
.forms input[type="password"] {
    width: calc(100% - 2em);
    margin-bottom: 1.5em;
    padding: 0.75em;
    border: 2px solid #555555;
    border-radius: 0.5em;
    background-color: #333333;
    color: #ffffff;
    font-size: 1rem;
}


.forms input[type="submit"], button{
    padding: 1em 1.5em; 
    font-size: 1em; 
    cursor: pointer;
    display: inline-block;
    margin: 0.5em; 
    background-color: #83b7b9; 
    color: #ffffff;
    border: none; 
    border-radius: 1em; 
    transition: all 0.3s ease; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}


.forms input[type="submit"]:hover,
.buttons button:hover {
    background-color: #8acdd4;
    transform: scale(1.1);
}

.buttons button {
    margin: 0em 15em;
    display: block;
    width: 15em;
    color: #ffffff;
    font-weight: bold;
    display: inline-block;
    height: auto;
    font-size: 1rem;
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer;
    border-radius: 0.5em;
    padding: 0.5em 2em;
}

.buttons .hidden {
    display: none;
}

.forms .hidden {
    display: none;
}

.images {
    text-align: center;
}


.image-container {
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    display: inline-block;
    height: auto;
    vertical-align: top;
    height: 25em;
    width: 25em;
    margin-right: 10em;
    margin-left: 10em;
    text-align: center;
}

.image-container img {
    max-width: 100%;
    height: 100%;
    border-radius: 10px;
}

.images .hidden {
    display: none;
}

.genres-btn {
    padding: 1em 2em;
    font-size: 0.9em;
    cursor: pointer;
    display: inline-block;
    margin: 0 0.5em;
    border: 5px solid #71a0a5;
    background-color: #000000;
    color: #ffffff;
    border-radius: 0.5em;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-family: Orbitron, sans-serif;
    margin: 1em;

}

.genres-btn:hover {
    background-color: #8acdd4;
    transform: scale(1.1);
}

.langue-btn {
    padding: 1em 2em;
    font-size: 0.9em;
    cursor: pointer;
    display: inline-block;
    margin: 0 0.5em;
    border: 5px solid #71a0a5;
    background-color: #000000;
    color: #ffffff;
    border-radius: 0.5em;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-family: Orbitron, sans-serif;
    margin: 1em;

}

.langue-btn:hover {
    background-color: #8acdd4;
    transform: scale(1.1);
}

.selected {
    background-color: #8acdd4;
}


a.custom-link {
    text-decoration: none;
    color: inherit;

}

div .hidden {
    display: none;
}

div .info {
    background-color: #000000;
    border: 5px solid #71a0a5;
    color: #ffffff;
    transition: transform 0.3s ease, background-color 0.3s ease;
    padding: 1em;
    width: calc(35em - 4em);
    margin: 2em auto;
    border-radius: 0.5em;
}

.img-profil {
    height: 100px;
    width: 66px;
}

.profil-btn:hover {
    background-color: #8acdd4;
    transform: scale(1.1);
}

.modal-background {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; 
    background-color: rgba(0, 0, 0, 0.4);
   
}

.modal-content {
    background-color: #000000;
    color: white;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: zoomIn 0.3s ease forwards;
    overflow-y:auto; 
}

@keyframes zoomIn {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

@keyframes zoomOut {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0);
    }
}
.close {
    animation: zoomOut 0.3s ease forwards;
}




.close-btn {
    color: #000000;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: #8acdd4; 
    text-decoration: none;
    cursor: pointer;
}

.hidden {
    display: none;
}

.match-alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    font-size: larger;
    background-color: #000000;
    color: #ffffff;
    border: 5px solid #71a0a5;
    transition: transform 0.3s ease, background-color 0.3s ease;
    padding: 1em;
    width: calc(35em - 4em);
    border-radius: 0.5em;
    z-index: 9999;
}

.message-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    font-size: larger;
    background-color: #000000;
    color: #ffffff;
    border: 5px solid #71a0a5;
    transition: transform 0.3s ease, background-color 0.3s ease;
    padding: 1em;
    width: calc(35em - 4em);
    border-radius: 0.5em;
    width: 1000px;
    height: 700px;

}


.message-history {
    overflow-y: auto;
    margin-top: 20px;
    height: 600px;
}



.message-bubble {
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    width: fit-content;
    max-width: 65%;
    word-wrap: break-word;
    color: red;
}

.receiver-message {
    background-color: #fadb5f;
    color: red;
}

.sender-message {
    background-color: #8fc97b;
    color: red;
    margin-left: auto;
}



.message-time {
    display: none;
}


.message-bubble:hover+.message-time {
    display: block;
    font-size: small;
    font-weight: bold;
    color: #ffffff;
}

.msg-input {
    width: 700px;
    height: 50px;
    color: #ffffff;
    background-color: #000000;
    font-family: Orbitron, sans-serif;
    border: 5px solid #71a0a5;
}

.msg-input:focus {
    outline: none;
}

#match-list {
    width: 350px;
    height: fit-content;
    color: #ffffff;
    background-color: #000000;
    font-family: Orbitron, sans-serif;
    border: 5px solid #71a0a5;
}

a.match-link {
    font-size: larger;
    color: inherit;
}

.img-profil2 {
    height: 100px;
    width: 66px;
    border-radius: 50%;
    margin-right: 15px;
}


#match-list ul li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.close-btn-msg {
    background-color: #000000;
    color: #71a0a5;
    float: right;
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
    border: #000000;
    padding: 0em;
}

.close-btn-msg:hover {
    cursor: pointer;
    background-color: #000000;
    color: #71a0a5;
    float: right;
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
    border: #000000;
}



.gestion-container {
    width: 500px;
    height: fit-content;
    color: #ffffff;
    background-color: #000000;
    font-family: Orbitron, sans-serif;
    border: 5px solid #71a0a5;
    z-index: 9999;
    position: absolute;
    top: 30%;
    left: 25%;
}

.gestion-btn {
    padding: 1em 2em;
    font-size: 0.9em;
    cursor: pointer;
    display: inline-block;
    margin: 1em 0.5em;
    border: 5px solid #71a0a5;
    background-color: #000000;
    color: #ffffff;
    border-radius: 0.5em;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-family: Orbitron, sans-serif;
}

.gestion-btn:hover {
    background-color: #8acdd4;
    transform: scale(1.1);
}

.report-input {
    width: 485px;
    height: 50px;
    color: #ffffff;
    background-color: #000000;
    font-family: Orbitron, sans-serif;
    border: 5px solid #71a0a5;
}

.report-input:focus {
    outline: none;
}

.limit-reached-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    font-size: larger;
    background-color: #000000;
    color: #ffffff;
    border: 5px solid #71a0a5;
    transition: transform 0.3s ease, background-color 0.3s ease;
    padding: 1em;
    width: calc(35em - 4em);
    border-radius: 0.5em;
    z-index: 9999;
 
}

.search-container {
    width: 500px;
    height: 200px;
    color: #ffffff;
    background-color: #000000;
    font-family: Orbitron, sans-serif;
    border: 5px solid #71a0a5;
    padding: 10px;

    
 
    position: relative;
    margin-bottom: 30px;
    top: 20%;
    left: 50%; 
    transform: translate(-50%); 


}

.search-input {
    width: 490px;
    height: 50px;
    color: #ffffff;
    background-color: #000000;
    font-family: Orbitron, sans-serif;
    border: 5px solid #71a0a5;
}



.search-input:focus {
    outline: none;
}

.profile-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-right: 7em;
}

.profile {
    width: 25em;
    background-color: #000000;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding : 1.5em;
    border: 5px solid #71a0a5;
}

.profile h2 {
    margin-top: 0;
}

.profile form {
    display: flex;
    justify-content: space-between;
}

.profile form button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.profile p {
    margin: 0;
}

.img-search-profil {
    height: 50px;
    width: 33px;
}

.buttons_gene{
    padding: 1em 2em;
    font-size: 0.9em;
    cursor: pointer;
    display: inline-block;
    margin: 1em 0.5em;
    border: 5px solid #71a0a5;
    background-color: #000000;
    color: #ffffff;
    border-radius: 0.5em;
    font-family: Orbitron, sans-serif;
}


div .info2 {
    background-color: #000000;
    border: 5px solid #71a0a5;
    color: #ffffff;
    transition: transform 0.3s ease, background-color 0.3s ease;
    padding: 1em;
    margin: 2em auto;
    border-radius: 0.5em;
    position: inherit;
    

}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 5px solid #71a0a5;
    text-align: left;
    padding: 8px;
    background-color: #000000;
    color: #ffffff;
}

th {
    background-color: #000000;
    color: #ffffff;
}

td {
    padding: 12px; 
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    
}

.premium-box,
.admin-box {
    width: 45%;
    height: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: left;
    margin: 20px;
    border: 5px solid #71a0a5;
    background-color: #000000;
    color: #ffffff;
}

#direct-contact{
    color: black;

}

.infPerso{
    margin-bottom: 1em;
}

 h4 {
    color: #71a0a5; 
    font-size: 1.1em;
    margin-bottom: 0.5em;
    padding-bottom: 0.2em;
    border-bottom: 1px solid #71a0a5; 
}

.formsProfil input[type="text"]
 {
    width: calc(100% - 2em);
    margin-bottom: 1.5em;
    padding: 0.75em;
    border: 2px solid #555555;
    border-radius: 0.5em;
    background-color: #333333;
    color: #ffffff;
    font-size: 1rem;
    
}

li {
    margin-bottom: 0.5em;
}

.choixprofil{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    gap : 2em;
 
}

.profile-card {
    flex: 0 1 20%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background: #2a2a2a;
    border-radius: 10px; 
    margin-bottom: 1rem; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
}


.smash{
    width: 5em;
}

.close-btn{
    color: white;
}

#message-input button img{
   width: 1em;
}

#message-input button{
    position: absolute;
}

.pos{
    margin-left: 9em;
}

header img {
    width: 1.75em;
}

#lui{
    width: 1em;
    margin: 0;
}